html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
article, header, nav, section{ display: block; }
a{ background-color: transparent; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.action, .action:link{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(16, 182, 191); border-top-left-radius: 2px 2px; border-top-right-radius: 2px 2px; border-bottom-right-radius: 2px 2px; border-bottom-left-radius: 2px 2px; box-shadow: rgba(0, 0, 0, 0.199219) 1px 1px 0.1em; color: rgb(254, 255, 255); cursor: pointer; display: inline-block; padding-top: 0.5em; padding-right: 1em; padding-bottom: 0.5em; padding-left: 1em; text-decoration: none; text-shadow: rgb(68, 68, 68) 1px 1px 1px; background-position: initial initial; background-repeat: initial initial; }
.list-inline{ list-style-type: none; list-style-position: initial; list-style-image: initial; line-height: 2.5; margin-top: 1.5em; margin-right: 0px; margin-bottom: 1.5em; margin-left: 0px; text-align: center; }
.list-inline li{ display: inline; }
.columned-content{ display: -webkit-box; }
.columned-content h3{ text-align: center; text-transform: uppercase; font-size: 2rem; font-weight: normal; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(246, 75, 58); color: rgb(254, 248, 247); margin-top: 1em; margin-right: 0px; margin-bottom: 1em; margin-left: 0px; padding-top: 1rem; padding-right: 0px; padding-bottom: 1rem; padding-left: 0px; white-space: nowrap; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (max-width: 32em){
.columned-content{ }
.columned-content > article{ -webkit-box-flex: 1; }
}
@media only screen and (max-width: 45em) and (min-width: 32em){
.columned-content{ }
.columned-content > article{ -webkit-box-flex: 0; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
}
@media only screen and (min-width: 45em){
.columned-content{ }
.columned-content > article{ margin-left: 1.5em; -webkit-box-flex: 1; }
.columned-content > article:first-of-type{ margin-left: 0px; }
}
*{ box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
html{ font-size: 62.5%; background-image: url(../img/bg.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); color: rgb(49, 37, 41); font-family: arial, sans-serif; background-position: 50% 0%; background-repeat: repeat repeat; }
body{ font-size: 2rem; }
h1, h2, h3, p, ul, li{ font-weight: normal; line-height: 1.25; }
h1{ font-size: 2.4rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; }
h2{ font-size: 2.2rem; }
h3{ font-size: 2rem; }
blockquote{ font-size: 2rem; margin-top: 1em; margin-right: 4em; margin-bottom: 1em; margin-left: 4em; }
blockquote::before{ color: rgb(170, 170, 170); display: block; height: 0px; content: “; margin-left: -0.6em; font: normal normal normal 400%/1 Cochin, Georgia, 'Times New Roman', serif; }
p{ margin-bottom: 0.5em; }
ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 1em; margin-left: 1em; }
a:link{ text-decoration: none; }
img{ max-width: 100%; height: auto; }
img.img-responsive{ width: 100%; }
a img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
section, .container{ position: relative; max-width: 60em; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
@media only screen and (max-width: 32em){
section, .container{ margin-left: 1em; margin-right: 1em; }
}
.skiplink{ display: inline-block; }
.nav ul, .nav li{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.nav li{ display: inline; }
 .nav a:link{ display: block; padding-top: 0.75em; padding-right: 0.5em; padding-bottom: 0.75em; padding-left: 0.5em; }
html{ background-image: url(../img/bg.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: 50% 0%; background-repeat: repeat repeat; }
html{ color: rgb(49, 37, 41); font-family: 'Open Sans', arial, sans-serif; }
a:link{ color: rgb(16, 182, 191); }
.to-nav::before{ content: ☰; padding-right: 0.3em; }
.to-nav{ text-align: right; padding-top: 0.3em; padding-right: 0.6em; padding-bottom: 0.4em; padding-left: 0.6em; }
.to-nav:link{ color: rgb(244, 242, 243); }
@media only screen and (min-width: 45em){
.to-nav{ display: none; }
}
.main{ clear: both; max-width: 60em; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 0px; padding-right: 1em; padding-bottom: 0px; padding-left: 1em; }
@media only screen and (min-width: 45em){
.main{ max-width: 60em; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 0px; padding-right: 1em; padding-bottom: 0px; padding-left: 1em; }
}
h1{ font-weight: 800; }
h1, .divider{ color: rgb(246, 75, 58); text-align: center; text-transform: uppercase; font-size: 2.6rem; }
.divider{ position: relative; margin-top: 1em; margin-right: 0px; margin-bottom: 1em; margin-left: 0px; }
.divider::before, .divider::after{ content: ''; display: block; height: 1px; width: 15%; position: absolute; top: 0.62em; right: 85%; }
@media only screen and (min-width: 45em){
.divider::before, .divider::after{ width: 30%; right: 69%; }
}
.divider::after{ right: auto; left: 85%; }
@media only screen and (min-width: 45em){
.divider::after{ left: 66%; }
}
.center{ text-align: center; }
.logo{ display: block; width: 120px; height: auto; position: absolute; left: 0px; top: 1.2em; z-index: 1; }
@media only screen and (min-width: 45em){
.logo{ width: auto; top: 0.5em; }
}
.pageheader{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(64, 47, 53); color: rgb(244, 242, 243); margin-bottom: 4em; text-align: right; background-position: initial initial; background-repeat: initial initial; }
.pageheader.with-hero{ margin-bottom: 0px; }
.pageheader h1{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.pageheader .nav{ text-align: left; }
@media only screen and (max-width: 45em){
.pageheader .nav{ position: absolute; top: -17em; left: 0px; right: 0px; z-index: 1; }
}
@media only screen and (min-width: 45em){
.pageheader .nav{ text-align: right; padding-top: 0.5em; padding-right: 0px; padding-bottom: 0.5em; padding-left: 0px; }
.pageheader .nav .close{ display: none; }
}
.pageheader .nav a{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; text-transform: uppercase; color: rgb(244, 242, 243); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(64, 47, 53); background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 45em){
.pageheader .nav a{ display: inline-block; vertical-align: top; }
}
 .pageheader .nav .cta{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(16, 182, 191); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(16, 182, 191); border-right-color: rgb(16, 182, 191); border-bottom-color: rgb(16, 182, 191); border-left-color: rgb(16, 182, 191); border-top-left-radius: 2px 2px; border-top-right-radius: 2px 2px; border-bottom-right-radius: 2px 2px; border-bottom-left-radius: 2px 2px; color: rgb(254, 255, 255); text-decoration: none; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 45em){
.pageheader .nav li:last-child a{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
}
.pageheader .banner{ border-top-width: 2px; border-top-style: solid; border-top-color: rgb(64, 47, 53); text-align: center; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(246, 75, 58); color: rgb(254, 248, 247); padding-top: 1em; padding-right: 1em; padding-bottom: 1em; padding-left: 1em; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (max-width: 32em){
.pageheader .banner{ padding-left: 6em; }
}
@media only screen and (min-width: 45em){
.pageheader .baseline{ font-size: 2.5rem; }
}
.hero{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(221, 221, 221); line-height: 0; margin-top: 1.5em; margin-right: 0px; margin-bottom: 1.5em; margin-left: 0px; padding-top: 3em; padding-right: 0px; padding-bottom: 3em; padding-left: 0px; background-position: initial initial; background-repeat: initial initial; }
.home .home-intro{ padding-top: 5rem; padding-right: 3rem; padding-bottom: 5rem; padding-left: 3rem; }
.home .home-intro h2, .home .home-intro .home-intro__title{ font-size: 2.7rem; margin-bottom: 1em; }
@media only screen and (min-width: 45em){
.home .home-intro h2, .home .home-intro .home-intro__title{ font-size: 3.6rem; }
}
.home .speaker{ margin-bottom: 1.5em; }
.home .speaker h3, .home .speaker h4{ text-align: center; }
.home .speaker a{ display: block; color: rgb(49, 37, 41); text-decoration: none; }
@media only screen and (min-width: 32em){
.home .column{ display: inline-block; vertical-align: top; }
.home .column.speaker{ text-align: center; width: 49%; }
}
@media only screen and (min-width: 45em){
.home .column.speaker{ width: 24%; }
}
.speaker .avatar{ text-align: center; }
.speaker .avatar img{ border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.296875) 0px 0.1em 0.1em; max-width: 150px; }
.pagefooter .to-top{ position: absolute; top: -2em; right: 0px; color: rgb(16, 182, 191); padding-left: 20px; background-image: url(../img/to-top.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0% 0%; background-repeat: no-repeat no-repeat; }
@media only screen and (min-width: 45em){
.pagefooter .to-top{ top: -3.5em; }
}
.pagefooter .connect ul, .pagefooter .precedentes ul, .pagefooter .footer ul{ margin-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.pagefooter .connect li, .pagefooter .precedentes li, .pagefooter .footer li{ display: inline; }
.pagefooter .connect a:link, .pagefooter .precedentes a:link, .pagefooter .footer a:link{ display: inline-block; margin-top: 0px; margin-right: 1em; margin-bottom: 0px; margin-left: 0px; }
@media only screen and (min-width: 45em){
.pagefooter .connect, .pagefooter .precedentes{ display: inline-block; vertical-align: top; width: 45%; }
}
@media only screen and (max-width: 45em){
.pagefooter .connect, .pagefooter .precedentes{ padding-top: 1em; }
}
.pagefooter .connect h2, .pagefooter .precedentes h2{ margin-bottom: 0.25em; }
.pagefooter .twitter, .pagefooter .facebook, .pagefooter .lanyrd{ display: inline-block; text-indent: -9999px; overflow-x: hidden; overflow-y: hidden; width: 50px; height: 50px; background-image: url(../img/pictos_connect.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0% 50%; background-repeat: no-repeat no-repeat; }
.pagefooter .twitter{ background-position: 0% 0%; }
.pagefooter .facebook{ background-position: 0% -100px; }
.pagefooter .lanyrd{ height: 40px; width: 120px; background-position: 0% 100%; }
.pagefooter .footer li{ display: inline; margin-right: 0.5em; }
.pagefooter .footer li:not(:last-child)::after{ content: '|'; margin-left: 0.5em; }
.pagefooter .footer a:link{ margin-right: 0px; }
.pagefooter .colophon{ clear: both; margin-bottom: 0.5em; }