//*********************  LARGEURS  *************/
$narrow: 32em;
$medium: 45em;
$widest: 60em;
//*********************  MIXINS  *************/

// Express font-size in rem and fallback to px for older browsers
//
// $size - The font size
//
// Compatible in IE9+, Firefox 34+, Chrome 31+, Safari 7+, Opera 26+.
@mixin font-size($size: 16){
	font-size: $size + px;
	font-size: ($size / 10) + rem;
}

@mixin vendorize($property, $value, $which: property) {
	@if ($which == value) {
		$property: -webkit-#{$value};
		$property:    -moz-#{$value};
		$property:     -ms-#{$value};
		$property:      -o-#{$value};
		$property:         #{$value};
	}
	@else {
		-webkit-#{$property}: $value;
		   -moz-#{$property}: $value;
		    -ms-#{$property}: $value;
		     -o-#{$property}: $value;
		        #{$property}: $value;
	}
}
@mixin respond-to($width: wide) {
	@if $width == narrow {
		@media only screen and (max-width: $narrow) { @content; }
	}
	@else if $width == narrow-and-up {
		@media only screen and (min-width: $narrow) { @content; }
	}
	@else if $width == medium {
		@media only screen and (max-width: $medium) { @content; }
	}
	@else if $width == medium-only {
		@media only screen and (min-width: $narrow) and (max-width: $medium) { @content; }
	}
	@else if $width == medium-and-up {
		@media only screen and (min-width: $medium) { @content; }
	}
	@else if $width == wide {
		@media only screen and (min-width: $medium) { @content; }
	}
}
@mixin drop-shadow ($x: 0, $y: 0, $blur: .5em, $color: rgba(0,0,0,.5)) {
	@include vendorize(filter, drop-shadow($x $y $blur $color));
}

@mixin backfold ($color, $width: 1em, $side: both) {
	@if ($side == left) {
		&:before {
			content: "";
			display: block;
			bottom: -$width;
		 	left: 0;
			position: absolute;
			z-index: -1;
			border-style: solid;
			border-color: $color transparent transparent transparent;
		 	border-width: $width 0 0 $width;
		}
	}
	@else if ($side == right) {
		&:after {
			content: "";
			display: block;
			bottom: -$width;
			right: 0;
			position: absolute;
			z-index: -1;
			border-style: solid;
			border-color: $color transparent transparent transparent;
			border-width: $width $width 0 0;
		}
	}
	@else {
		&:before,
		&:after {
			content: "";
			display: block;
			bottom: -$width;
			position: absolute;
			z-index: -1;
			border-style: solid;
			border-color: $color transparent transparent transparent;
		}
		&:before {
		 	left: 0;
		 	border-width: $width 0 0 $width;
		}
		&:after {
			right: 0;
			border-width: $width $width 0 0;
		}
	}
}

// Clear floats
//
// Compatible in IE8+, Firefox 34+, Chrome 31+, Safari 7+, Opera 26+.
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both
	}
}