$body: #fff;
$text: #312529;
$primary: #ecb506;
$text-over-primary: #44233d;
$secondary: #c51b3f;
$text-over-secondary: #fcf1f2;
$contrast: #44233d;
$text-over-contrast: #feffff;
$inverted: #44233d;
$text-over-inverted: #f4f2f3;
$dark: #3f2f34;
$text-over-dark: #f7f6f7;
$bright: #ffa802;
$light-gray: #ddd;
$gray: #aaa;

$narrow: 32em;
$medium: 45em;
$widest: 60em;
