@import "mixins";
@import "variables";

.pagefooter {
  background: $primary;
  color: $text-over-primary;
  margin-top: 1em;
  padding: 0 1em;
  position: relative;
  @include respond-to(medium-and-up) {
    padding-top: 1.5em;
  }

  .nav {
    margin-bottom: 1em;
    @include respond-to(narrow) {
      margin: 0 -1em;
    }
    @include respond-to(narrow-and-up) {
      display: none;
    }
    span,
    a:link,
    a:visited {
      color: $text-over-primary;
      border-bottom: 1px solid #5c4a50;
      @include respond-to(medium-only) {
        padding-left: 2em;
      }
    }
    a:hover,
    a:focus {
      background: $contrast;
      color: $text-over-primary;
    }
  }

  .connect,
  .precedentes,
  .links {
    ul {
      margin-left: 0;
      list-style: none;
    }

    a:link,
    a:visited {
      display: inline-block;
      margin: 0 1em 0 0;
    }
  }

  .connect {
    li {
      display:inline;
    }
  }

  .links {
    font-weight: 800;
  }

  .connect,
  .precedentes,
  .links {
    @include respond-to(medium-and-up) {
      display: inline-block;
      vertical-align: top;
      width: 33%;
    }
    @include respond-to(medium) {
      padding-top: 1em;
    }
    h2 {
      margin-bottom: .25em;
    }
  }
  .twitter,
  .facebook,
  .lanyrd {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background: url(../img/pictos_connect.png) no-repeat left center;
  }
  .twitter {
    background-position: left top;
  }
  .facebook {
    background-position: left -100px;
  }
  .lanyrd {
    height: 40px;
    width: 120px;
    background-position: left bottom;
  }

  .colophon {
    clear: both;
    border-top: 1px solid darken($primary, 20%);
    padding: 1em;
  }
}
