.home {

   .home-intro {
    padding: 5rem 3rem 0;

    h2,
    .home-intro__title {
      @include font-size(27);
      margin-bottom: 1em;
      @include respond-to(medium-and-up) {
        @include font-size(36)
      }
    }

  }

  .speaker {
    h3,
    h4 {
      text-align: center;
    }

    a {
      display: block;
      color: $text;
      text-decoration: none;

      &:hover .link{
        text-decoration: none;
      }
    }

    .link {
      color: $contrast;
      text-decoration: underline;
    }

    margin-bottom: 1.5em;
  }

  @include respond-to(narrow-and-up) {
    .column {
      display: inline-block;
      vertical-align: top;
    }
    .column.speaker {
      text-align: center;
      width: 49%;
    }
  }

  @include respond-to(wide) {
    .column.speaker {
      width: 24%;
    }
  }
}
