$avatar-width: 150px;

.orateur {
  &:hover {
    opacity: 0.9;
    background: $text-over-inverted;
  }
  .avatar {
    text-align: center;

    img {
      border: 3px solid #fff;
      border-radius: 50%;
      box-shadow: 0 .1em .1em rgba(black, .3);
      max-width: 150px;
    }
  }

  .notice {
    font-style: italic;
  }
}

.speaker-bio {

  &__name {

  }

  &__biography {

  }
}

.speaker-avatar {
  text-align: center;

  &__image,
  &__name,
  &__title{
    display: block;
  }

  &__image {
    margin: 0 auto 0.5em;
  }

  &__name {
    font-weight: bold;
  }

  &__title {
    font-size: .9em;
  }
}
