.orateur {
  &:hover {
    opacity: 0.9;
    background: $text-over-inverted;
  }
  .avatar {
    text-align: center;

    img {
      border-radius: 4px;
      box-shadow: 0 .1em .3em rgba(black, .3);
      max-width: 150px;
    }
  }

  .notice {
    font-style: italic;
  }
}
