@import "mixins/flexbox";

.schedule-list {
  margin: 1.5em 0;
  padding: 0;
}

.schedule-slot {
  @include flexbox;
  @include flex-flow(wrap row);
  @include align-items(stretch);

  margin: 1.5em 0;

  &.schedule-slot--break {
    background-color: $light-gray;
  }

  header {
    font-size: 0;
    @include flex(0 1 100%);
    margin-bottom: 1em;

    .schedule-slot__time,
    .schedule-slot__extra,
    .schedule-slot__title {
      background-color: $primary;
      border: 1px solid $primary;
      color: $text-over-primary;
      display: inline-block;
      @include font-size(20);
      padding: 1em;
    }

    .schedule-slot__time {
      background: $text-over-primary;
      border: 1px solid $primary;
      color: $primary;
      min-width: 5em;
      text-align: center;
    }

    .schedule-slot__extra {
      background-color: transparent;
      border-color: transparent;
      color: lighten($primary, 10%);
    }
  }

  &__description {
    @include flex(1 0 100%);
    padding-top: .5em;
  }

  &__biography {
    @include flex(1 0 75%);
    @include order(2);
  }

  &__speaker {
    @include flex(1 0 100px);
    @include order(1);

    text-align: center;
  }

  &--party {
    background-color: $primary;

    .schedule-slot__description {
      color: $text-over-primary;
      padding: .5em;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}


