$avatar-width: 150px;

@mixin avatar {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 .1em .1em rgba(black, .3);
}  

.speaker {
  &:hover {
    opacity: 0.9;
    background: $text-over-inverted;
  }
  .avatar {
    text-align: center;
    img {
      @include avatar;
      max-width: $avatar-width;
    }
  }

  .notice {
    font-style: italic;
  }
}

.speaker-bio {

  &__name {
    color: $primary;
  }

  &__biography {
    font-size: 0.9em;
  }
}

.speaker-avatar {
  &__image,
  &__name,
  &__title{
    display: block;
  }

  &__image {
    margin: 0 1.5em 0.5em 0;
    @include avatar;
    max-width: 100px;
    @include respond-to(medium-and-up) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__name {
    font-weight: bold;
  }

  &__title {
    font-size: .9em;
  }
}


