$avatar-width: 150px;

@mixin avatar {
  border-radius: 50%;
}

.speaker {
  &:hover {

  }
  .avatar {
    text-align: center;
    img {
      @include avatar;
      max-width: $avatar-width;
    }
  }

  .notice {
    font-style: italic;
  }
}

.speaker-bio {
    color: $body;
  a {
    color: $body;
  }
  &__name {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    text-transform: uppercase;
    font-weight:400;
  }

  &__biography {
    font-size: 0.9em;

  }
}

.speaker-avatar {
  &__image,
  &__name,
  &__title{
    display: block;
  }

  &__image {
    margin: 0 1.5em 0.5em 0;
    @include avatar;
    max-width: 100px;
    @include respond-to(medium-and-up) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__name {
    font-weight: bold;
  }

  &__title {
    font-size: .9em;
  }
}
