.sponsors {
  clear: both;
  padding: 1em;
  max-width: $widest;
  margin: 0 auto;

  h3 {
    text-align: center;
    text-transform: uppercase;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 25%;
      border-top: 1px solid;
      border-bottom: 1px dotted;
      position: absolute;
      top: .62em;
      right: 75%;
    }
    &:after {
      right: auto;
      left: 75%;
    }
  }
  .or {
    color: #FEB100;
  }
  .argent {
    color: #979B9D;
  }
  .bronze,
  .sponsors__bronze {
    color: $inverted;
  }
  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }
  li {
    display: inline;
  }
  img {
    margin: 1em;
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    height: auto;
    @include respond-to(medium-and-up) {
      max-width: 300px;
    }
  }
}

.sponsors__bronze {
  li:not(:last-child):after {
    content: " - ";
  }
}
