@import "vendor/normalize";
// Mixins
//
// Styleguide mixins.
@import "mixins";
// Variables
// 
// Styleguide variables.
@import "variables";
// Components
// 
// Reusable components that can be used across the site.
// 
// Styleguide components.
@import "components/action";
@import "components/lists";
@import "components/columns";

//*********************  ELEMENTS  *************/
* {
  @include vendorize(box-sizing, border-box);
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background: #fff url(../img/bg.png) repeat center top;
  color: $text;
  font-family: arial, sans-serif;
}

body, button {
  @include font-size(20);
}

h1, h2, h3, p, ul, ol, li {
  font-weight: normal;
  line-height: 1.25;
}

h1 {
  @include font-size(24);
  margin: 0 0 .5em;
}

h2 {
  @include font-size(22);
}

h3 {
  @include font-size(20);
}

blockquote {
  @include font-size(20);
  margin: 1em 4em;

  &:before {
    color: $gray;
    display: block;
    height: 0;
    content: "“";
    margin-left: -.6em;
    font: 400%/1 Cochin,Georgia,"Times New Roman", serif;
  }
}


p {
  margin-bottom: .5em;
}
ul,
ol {
  margin: 0 0 1em 1em;
}

a:link,
a:visited {
  text-decoration: none;
}
a.link {
  text-decoration: underline;
}
a:focus,
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;

  &.img-responsive {
    width: 100%;
  }
}

a img {
  border: none;
}

//*********************  GENERIC LAYOUT  *************/
section,
.container {
  position: relative;
  max-width: $widest;
  margin: 0 auto;

  @include respond-to(narrow){
    margin-left: 1em;
    margin-right: 1em;
  }
}

.skiplink {
  display: inline-block;
}

.nav {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
  }
  span,
  a:link,
  a:visited {
    display: block;
    padding: .75em .5em;
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
}


//*********************  SKIN  *************/
html {
  background: #fff url(../img/bg.png) repeat center top;
}
html, button {
  color: $text;
  font-family: "Open Sans", arial, sans-serif;
}
.emphasis {
  @include font-size(18);
}
a:link,
a:visited {
  color: $contrast;
}

.to-nav:before {
  content: "☰";
  padding-right: .3em;
}
.to-nav {
  text-align: right;
  padding: .3em .6em .4em;
  &:link,
  &:visited {
    color: $text-over-inverted;
  }
  &:hover {
    background: $contrast;
    color: $text-over-contrast;
    text-decoration: none;
  }
  @include respond-to(wide) {
    display: none;
  }
}



.main {
  clear: both;

  @include respond-to(medium-and-up) {
    max-width: $widest;
    margin: 0 auto;
    padding: 0 1em;
  }

  max-width: $widest;
  margin: 0 auto;
  padding: 0 1em;
}


.extra-space {
  clear: both;
  padding-top: 1em;
}

h1 {
  font-weight: 800;
}

h1,
.divider {
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  @include font-size(26);
}

/* Titre avec traits gauche et droite */

.divider {
  position: relative;
  margin: 1em 0;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 15%;
    position: absolute;
    top: .62em;
    right: 85%;
    @include respond-to(medium-and-up) {
      width: 30%;
      right: 69%;
    }
  }
  &:after {
    right: auto;
    left: 85%;
    @include respond-to(medium-and-up) {
      left: 66%;
    }
  }
}

.center-block {
  display: block;
  margin-bottom: .5em;
  @include font-size(16);
}

.center {
  text-align: center;
}

.subtitle {
  color: $primary;
  font-size: 120%;
  margin: 0 5%;
  text-align: center;
}

.page aside {
  margin: 1em 0;
  padding: 1em;
  background: $body;
  @include respond-to(medium) {
    border: 1px solid rgba(black, .1);
  }
  @include respond-to(medium-and-up) {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    @include clearfix;

    // Add margin to every other aside, but start from the end because there may be any number of tags before
    &:nth-last-child(even) {
      margin-right: 3%;
    }
  }
}
aside.ateliers:before {
  margin-top: 1em;
}

@import "pageheader";
@import "components/hero";
@import "components/callout";
@import "home";
@import "speakers";
@import "schedule";
@import "sponsors";
@import "venue";
@import "form";
@import "footer";
