@import "../variables";

.action,
.action:link,
.action:visited {
  border-radius: 20px ;
  border: 2px solid $text-over-primary;
  color: $text-over-primary;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}
.action:focus,
.action:hover {
  background: $text-over-primary;
  color: $primary;
}

.action-disabled,
.action-disabled:focus,
.action-disabled:hover{
  cursor: no-drop;
}
