@import '../mixins/flexbox';

.callout, .callout-discrete {
  @include flexbox;
  @include flex-flow(wrap row);
  clear: both;

  h2 {
    @include flex(1 0 100%);
    padding: 1em;
  }

  .content,
  .excerpt,
  .more {
    padding: 1em;
  }

  @include respond-to(medium-and-up) {
    h2 {
      @include flex(1);
      max-width: 20%;
    }

    .content,
    .excerpt,
    .more {
      @include flex(2);
    }
  }
}

.callout {
  background: $inverted;
  color: $text-over-inverted;
  margin: 2em 0;

  h2 {
    background: $secondary;
    color: $text-over-secondary;
  }
}
