//
// Container of columned contents
//
@import "../mixins/flexbox";

.columned-content {
  @include flexbox;

  h3 {
    text-align: center;
    text-transform: uppercase;
    @include font-size(20);
    font-weight: normal;

    background: $primary;
    color: $text-over-primary;
    margin: 1em 0;
    padding: 1rem 0;
    white-space: nowrap;
  }

  @include respond-to(narrow){
    @include flex-flow(wrap row);

    > article {
      @include flex(1 0 100%);
    }
  }

  @include respond-to(medium-only){
    @include flex-flow(wrap row);

    > article {
      @include flex(0 1 49%);
      margin: 0 auto;
    }
  }

  @include respond-to(wide){
    @include flex-flow(nowrap row);

    > article{
      margin-left: 1.5em;
      @include flex(1);

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
