@import "../mixins/flexbox";

.list-inline {
  list-style: none;
  line-height: 2.5;
  margin: 1.5em 0;
  text-align: center;

  li {
    display: inline;
  }
}

.list-grid {
  @include flexbox;
  @include flex-flow(wrap row);
  @include align-items(stretch);

  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    @include flexbox;
    @include flex-flow(wrap row);

    @include flex(1 0 33%);
    margin: .5em;
  }
}
